
fieldset {
    display: block;
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 0;
    padding-bottom: 0.625em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    border: 2px groove
}

legend {
    float: inherit;
    width: auto;
    padding: 0;
    margin-bottom: 0.5rem;
    font-size: calc(1.075rem + 0.3vw);
    line-height: inherit
}
