@{
    ViewData["Title"] = "Home Page";
    string items = (string)ViewBag.Items;
    string items1 = (string)ViewBag.Items1;
    string items2 = (string)ViewBag.Items2;
}
<div class="form-group">
    <p style="font-size: 15pt"><strong>La Fecha y Hora es: @items</strong></p>
    <p>@items2</p>
    <p>Bienvenido al Sistema de Gestion Pedidos </p>
    <p>@items1</p>
</div>
<div class="form-group">
    <a asp-action="Click_Despues" style="text-decoration:underline">Click Despues</a>
    <a asp-action="Click_Antes" style="text-decoration:underline">Click Antes</a>
    <a asp-action="Click_Reemplazar" style="text-decoration:underline">Click Reemplazar</a>
</div>
