################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/Nikko.SistGestionPedido.UI/obj/project.nuget.cache
/Nikko.SistGestionPedido.UI/obj/project.assets.json
/Nikko.SistGestionPedido.UI/obj/Nikko.SistGestionPedido.UI.csproj.nuget.g.props
/Nikko.SistGestionPedido.UI/obj/Nikko.SistGestionPedido.UI.csproj.nuget.dgspec.json
/Nikko.SistGestionPedido.UI/appsettings.json
/Nikko.SistGestionPedido.UI/obj/Debug/net6.0/staticwebassets.pack.json
/Nikko.SistGestionPedido.UI/obj/Debug/net6.0/staticwebassets.development.json
/Nikko.SistGestionPedido.UI/obj/Debug/net6.0/staticwebassets.build.json
/Nikko.SistGestionPedido.UI/obj/Debug/net6.0/project.razor.vs.json
/Nikko.SistGestionPedido.UI/obj/Debug/net6.0/Nikko.SistGestionPedido.UI.pdb
/Nikko.SistGestionPedido.UI/obj/Debug/net6.0/Nikko.SistGestionPedido.UI.genruntimeconfig.cache
/Nikko.SistGestionPedido.UI/obj/Debug/net6.0/Nikko.SistGestionPedido.UI.GeneratedMSBuildEditorConfig.editorconfig
/Nikko.SistGestionPedido.UI/obj/Debug/net6.0/Nikko.SistGestionPedido.UI.dll
/Nikko.SistGestionPedido.UI/obj/Debug/net6.0/Nikko.SistGestionPedido.UI.csproj.CoreCompileInputs.cache
/Nikko.SistGestionPedido.UI/obj/Debug/net6.0/Nikko.SistGestionPedido.UI.csproj.AssemblyReference.cache
/Nikko.SistGestionPedido.UI/obj/Debug/net6.0/Nikko.SistGestionPedido.UI.assets.cache
/Nikko.SistGestionPedido.UI/obj/Debug/net6.0/apphost.exe
/Nikko.SistGestionPedido.UI/bin/Debug/net6.0/Nikko.SistGestionPedido.UI.staticwebassets.runtime.json
/Nikko.SistGestionPedido.UI/bin/Debug/net6.0/Nikko.SistGestionPedido.UI.pdb
/Nikko.SistGestionPedido.UI/bin/Debug/net6.0/Nikko.SistGestionPedido.UI.exe
/Nikko.SistGestionPedido.UI/bin/Debug/net6.0/Nikko.SistGestionPedido.UI.dll
/Nikko.SistGestionPedido.UI/bin/Debug/net6.0/Nikko.SistGestionPedido.Models.pdb
/Nikko.SistGestionPedido.UI/bin/Debug/net6.0/Nikko.SistGestionPedido.Models.dll
/Nikko.SistGestionPedido.UI/bin/Debug/net6.0/Nikko.SistGestionPedido.Logic.pdb
/Nikko.SistGestionPedido.UI/bin/Debug/net6.0/Nikko.SistGestionPedido.Logic.dll
/Nikko.SistGestionPedido.UI/bin/Debug/net6.0/Nikko.SistGestionPedido.DAL.pdb
/Nikko.SistGestionPedido.UI/bin/Debug/net6.0/Nikko.SistGestionPedido.DAL.dll
/Nikko.SistGestionPedido.UI/bin/Debug/net6.0/appsettings.json
/Nikko.SistGestionPedido.Models/obj/project.nuget.cache
/Nikko.SistGestionPedido.Models/obj/project.assets.json
/Nikko.SistGestionPedido.Models/obj/Nikko.SistGestionPedido.Models.csproj.nuget.g.props
/Nikko.SistGestionPedido.Models/obj/Nikko.SistGestionPedido.Models.csproj.nuget.dgspec.json
/Nikko.SistGestionPedido.Models/obj/Debug/net6.0/Nikko.SistGestionPedido.Models.pdb
/Nikko.SistGestionPedido.Models/obj/Debug/net6.0/Nikko.SistGestionPedido.Models.GeneratedMSBuildEditorConfig.editorconfig
/Nikko.SistGestionPedido.Models/obj/Debug/net6.0/Nikko.SistGestionPedido.Models.dll
/Nikko.SistGestionPedido.Models/obj/Debug/net6.0/Nikko.SistGestionPedido.Models.csproj.CoreCompileInputs.cache
/Nikko.SistGestionPedido.Models/obj/Debug/net6.0/Nikko.SistGestionPedido.Models.csproj.BuildWithSkipAnalyzers
/Nikko.SistGestionPedido.Models/obj/Debug/net6.0/Nikko.SistGestionPedido.Models.csproj.AssemblyReference.cache
/Nikko.SistGestionPedido.Models/obj/Debug/net6.0/Nikko.SistGestionPedido.Models.assets.cache
/Nikko.SistGestionPedido.Models/obj/Debug/net6.0/Nikko.SistGestionPedido.Models.AssemblyInfo.cs
/Nikko.SistGestionPedido.Logic/obj/project.nuget.cache
/Nikko.SistGestionPedido.Logic/obj/project.assets.json
/Nikko.SistGestionPedido.Logic/obj/Nikko.SistGestionPedido.Logic.csproj.nuget.g.props
/Nikko.SistGestionPedido.Logic/obj/Nikko.SistGestionPedido.Logic.csproj.nuget.dgspec.json
/Nikko.SistGestionPedido.Logic/obj/Debug/net6.0/Nikko.SistGestionPedido.Logic.pdb
/Nikko.SistGestionPedido.Logic/obj/Debug/net6.0/Nikko.SistGestionPedido.Logic.GeneratedMSBuildEditorConfig.editorconfig
/Nikko.SistGestionPedido.Logic/obj/Debug/net6.0/Nikko.SistGestionPedido.Logic.dll
/Nikko.SistGestionPedido.Logic/obj/Debug/net6.0/Nikko.SistGestionPedido.Logic.csproj.CoreCompileInputs.cache
/Nikko.SistGestionPedido.Logic/obj/Debug/net6.0/Nikko.SistGestionPedido.Logic.csproj.BuildWithSkipAnalyzers
/Nikko.SistGestionPedido.Logic/obj/Debug/net6.0/Nikko.SistGestionPedido.Logic.csproj.AssemblyReference.cache
/Nikko.SistGestionPedido.Logic/obj/Debug/net6.0/Nikko.SistGestionPedido.Logic.assets.cache
/Nikko.SistGestionPedido.Models/bin/Debug/net6.0/Nikko.SistGestionPedido.Models.pdb
/Nikko.SistGestionPedido.Models/bin/Debug/net6.0/Nikko.SistGestionPedido.Models.dll
/Nikko.SistGestionPedido.Logic/bin/Debug/net6.0/Nikko.SistGestionPedido.Models.pdb
/Nikko.SistGestionPedido.Logic/bin/Debug/net6.0/Nikko.SistGestionPedido.Models.dll
/Nikko.SistGestionPedido.Logic/bin/Debug/net6.0/Nikko.SistGestionPedido.Logic.pdb
/Nikko.SistGestionPedido.Logic/bin/Debug/net6.0/Nikko.SistGestionPedido.Logic.dll
/Nikko.SistGestionPedido.Logic/bin/Debug/net6.0/Nikko.SistGestionPedido.DAL.pdb
/Nikko.SistGestionPedido.Logic/bin/Debug/net6.0/Nikko.SistGestionPedido.DAL.dll
/Nikko.SistGestionPedido.DAL/obj/Debug/net6.0/Nikko.SistGestionPedido.DAL.pdb
/Nikko.SistGestionPedido.DAL/obj/Debug/net6.0/Nikko.SistGestionPedido.DAL.genruntimeconfig.cache
/Nikko.SistGestionPedido.DAL/obj/Debug/net6.0/Nikko.SistGestionPedido.DAL.GeneratedMSBuildEditorConfig.editorconfig
/Nikko.SistGestionPedido.DAL/obj/Debug/net6.0/Nikko.SistGestionPedido.DAL.dll
/Nikko.SistGestionPedido.DAL/obj/Debug/net6.0/Nikko.SistGestionPedido.DAL.csproj.CoreCompileInputs.cache
/Nikko.SistGestionPedido.DAL/obj/Debug/net6.0/Nikko.SistGestionPedido.DAL.csproj.BuildWithSkipAnalyzers
/Nikko.SistGestionPedido.DAL/obj/Debug/net6.0/Nikko.SistGestionPedido.DAL.csproj.AssemblyReference.cache
/Nikko.SistGestionPedido.DAL/obj/Debug/net6.0/Nikko.SistGestionPedido.DAL.assets.cache
/Nikko.SistGestionPedido.DAL/obj/project.nuget.cache
/Nikko.SistGestionPedido.DAL/obj/project.assets.json
/Nikko.SistGestionPedido.DAL/obj/Nikko.SistGestionPedido.DAL.csproj.nuget.g.props
/Nikko.SistGestionPedido.DAL/obj/Nikko.SistGestionPedido.DAL.csproj.nuget.dgspec.json
/Nikko.SistGestionPedido.DAL/bin/Debug/net6.0/Nikko.SistGestionPedido.Models.pdb
/Nikko.SistGestionPedido.DAL/bin/Debug/net6.0/Nikko.SistGestionPedido.Models.dll
/Nikko.SistGestionPedido.DAL/bin/Debug/net6.0/Nikko.SistGestionPedido.DAL.pdb
/Nikko.SistGestionPedido.DAL/bin/Debug/net6.0/Nikko.SistGestionPedido.DAL.dll
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/.vs/SistGestionPedido/FileContentIndex/read.lock
/.vs/SistGestionPedido/FileContentIndex/a2426cb1-dbb3-4dc7-abb1-aba229f75e5e.vsidx
/.vs/SistGestionPedido/FileContentIndex/1c6f34a2-6542-4286-ac00-0f31df83ac34.vsidx
/.vs/SistemaGestionPedido/FileContentIndex/e4241e69-e53e-4fbf-97d7-c1884e2d0fb0.vsidx
/.vs/SistemaGestionPedido/FileContentIndex/d2888fb6-5def-4c19-9113-937aae18a381.vsidx
/.vs/SistemaGestionPedido/FileContentIndex/bdc68271-10cb-46cb-b209-b7f9a248327e.vsidx
/.vs/SistemaGestionPedido/FileContentIndex/794d38f8-d5fe-4f85-bfb1-fc88c5b45563.vsidx
/.vs/SistemaGestionPedido/FileContentIndex/1136b6dc-68d6-41c1-b45f-ab4794ffdd62.vsidx
/Nikko.SistGestionPedido.UI/obj/Debug/net6.0/staticwebassets/msbuild.Nikko.SistGestionPedido.UI.Microsoft.AspNetCore.StaticWebAssets.props
/Nikko.SistGestionPedido.UI/obj/Debug/net6.0/refint/Nikko.SistGestionPedido.UI.dll
/Nikko.SistGestionPedido.UI/obj/Debug/net6.0/ref/Nikko.SistGestionPedido.UI.dll
/Nikko.SistGestionPedido.Logic/obj/Debug/net6.0/Nikko.SistGestionPedido.Logic.AssemblyInfo.cs
/.vs/SistGestionPedido/v17/.wsuo
/.vs/SistGestionPedido/FileContentIndex/dbdf50c2-9e79-4fea-a1e5-004316f927c4.vsidx
/.vs/SistemaGestionPedido/v17/fileList.bin
/.vs/SistemaGestionPedido/v17/.suo
/.vs/SistemaGestionPedido/v17/.futdcache.v2
/.vs/SistGestionPedido/FileContentIndex/73ec0e92-07a9-41ec-a13d-645d8b98f663.vsidx
/.vs/ProjectEvaluation/sistemagestionpedido.projects.v5.2
/.vs/ProjectEvaluation/sistemagestionpedido.metadata.v5.2
/.vs/SistGestionPedido/FileContentIndex/3542a88f-230e-4f82-8e3e-7898259a768d.vsidx
/Nikko.SistGestionPedido.DAL/obj/Release/net6.0/Nikko.SistGestionPedido.DAL.GeneratedMSBuildEditorConfig.editorconfig
/Nikko.SistGestionPedido.DAL/obj/Release/net6.0/Nikko.SistGestionPedido.DAL.csproj.AssemblyReference.cache
/Nikko.SistGestionPedido.DAL/obj/Release/net6.0/Nikko.SistGestionPedido.DAL.assets.cache
/.vs/SistGestionPedido/FileContentIndex/9306a985-5653-4b3d-b300-83b8206496a6.vsidx
/.vs/SistGestionPedido/FileContentIndex/4aec147f-1d81-48bf-95d1-57c34b08fc7d.vsidx
/.vs/SistGestionPedido/FileContentIndex/43f73dbc-6e6e-4c15-babd-7ce1b41f03f4.vsidx
/.vs/SistGestionPedido/FileContentIndex/2f61e778-a81a-43e4-9496-dcfdfb7ed2bb.vsidx
*.bin
/.vs/SistemaGestionPedido/v17/.suo
/.vs/SistemaGestionPedido/DesignTimeBuild/.dtbcache.v2
/.vs/SistemaGestionPedido/FileContentIndex/e93404d5-4e09-43ba-a63d-d3bdaafa0f48.vsidx
/.vs/SistemaGestionPedido/FileContentIndex/e3d3e3e7-706b-49aa-b04b-7d94baf745e9.vsidx
/.vs/SistemaGestionPedido/FileContentIndex/9a2bb1c7-e30a-4ca9-9212-5530eda43b21.vsidx
/.vs/SistemaGestionPedido/FileContentIndex/5c71704a-9678-44ef-b44e-44e0cb8e1019.vsidx
/.vs/SistemaGestionPedido/FileContentIndex/4bdabd06-bef6-45ad-8ee1-5515bc2d1c47.vsidx
/.vs/SistemaGestionPedido/FileContentIndex/2766fcfd-203a-4d4b-89f5-a509a4eedd3d.vsidx
/.vs/SistemaGestionPedido/FileContentIndex/21f9cdca-a29d-4da1-beb0-4a7d6c69b2a6.vsidx
/Nikko.SistGestionPedido.Models/bin/Debug/net6.0/Nikko.SistGestionPedido.Models.pdb
/Nikko.SistGestionPedido.Models/bin/Debug/net6.0/Nikko.SistGestionPedido.Models.dll
/Nikko.SistGestionPedido.Models/obj/Debug/net6.0/Nikko.SistGestionPedido.Models.pdb
/Nikko.SistGestionPedido.Models/obj/Debug/net6.0/Nikko.SistGestionPedido.Models.GeneratedMSBuildEditorConfig.editorconfig
/Nikko.SistGestionPedido.Models/obj/Debug/net6.0/Nikko.SistGestionPedido.Models.dll
/Nikko.SistGestionPedido.Models/obj/Debug/net6.0/Nikko.SistGestionPedido.Models.csproj.CoreCompileInputs.cache
/Nikko.SistGestionPedido.Models/obj/Debug/net6.0/Nikko.SistGestionPedido.Models.assets.cache
/Nikko.SistGestionPedido.Models/obj/Release/net6.0/Nikko.SistGestionPedido.Models.GeneratedMSBuildEditorConfig.editorconfig
/Nikko.SistGestionPedido.Models/obj/Release/net6.0/Nikko.SistGestionPedido.Models.csproj.AssemblyReference.cache
/Nikko.SistGestionPedido.Models/obj/Release/net6.0/Nikko.SistGestionPedido.Models.assets.cache
/Nikko.SistGestionPedido.Models/obj/project.nuget.cache
/Nikko.SistGestionPedido.Models/obj/project.assets.json
/Nikko.SistGestionPedido.Models/obj/Nikko.SistGestionPedido.Models.csproj.nuget.g.props
/Nikko.SistGestionPedido.Models/obj/Nikko.SistGestionPedido.Models.csproj.nuget.dgspec.json
/Nikko.SistGestionPedido.UI/bin/Debug/net6.0/Nikko.SistGestionPedido.UI.staticwebassets.runtime.json
/Nikko.SistGestionPedido.UI/bin/Debug/net6.0/Nikko.SistGestionPedido.UI.pdb
/Nikko.SistGestionPedido.UI/bin/Debug/net6.0/Nikko.SistGestionPedido.UI.exe
/Nikko.SistGestionPedido.UI/bin/Debug/net6.0/Nikko.SistGestionPedido.UI.dll
/Nikko.SistGestionPedido.UI/bin/Debug/net6.0/Nikko.SistGestionPedido.Models.pdb
/Nikko.SistGestionPedido.UI/bin/Debug/net6.0/Nikko.SistGestionPedido.Models.dll
/Nikko.SistGestionPedido.UI/bin/Debug/net6.0/Nikko.SistGestionPedido.Logic.pdb
/Nikko.SistGestionPedido.UI/bin/Debug/net6.0/Nikko.SistGestionPedido.Logic.dll
/Nikko.SistGestionPedido.UI/bin/Debug/net6.0/Nikko.SistGestionPedido.DAL.pdb
/Nikko.SistGestionPedido.UI/bin/Debug/net6.0/Nikko.SistGestionPedido.DAL.dll
/Nikko.SistGestionPedido.UI/bin/Debug/net6.0/appsettings.json
/Nikko.SistGestionPedido.UI/obj/Debug/net6.0/staticwebassets.development.json
/Nikko.SistGestionPedido.UI/obj/Debug/net6.0/staticwebassets.build.json
/Nikko.SistGestionPedido.UI/obj/Debug/net6.0/project.razor.vs.json
/Nikko.SistGestionPedido.UI/obj/Debug/net6.0/Nikko.SistGestionPedido.UI.pdb
/Nikko.SistGestionPedido.UI/obj/Debug/net6.0/Nikko.SistGestionPedido.UI.genruntimeconfig.cache
/Nikko.SistGestionPedido.UI/obj/Debug/net6.0/Nikko.SistGestionPedido.UI.GeneratedMSBuildEditorConfig.editorconfig
/Nikko.SistGestionPedido.UI/obj/Debug/net6.0/Nikko.SistGestionPedido.UI.dll
/Nikko.SistGestionPedido.UI/obj/Debug/net6.0/Nikko.SistGestionPedido.UI.csproj.FileListAbsolute.txt
/Nikko.SistGestionPedido.UI/obj/Debug/net6.0/Nikko.SistGestionPedido.UI.csproj.CoreCompileInputs.cache
/Nikko.SistGestionPedido.UI/obj/Debug/net6.0/Nikko.SistGestionPedido.UI.csproj.AssemblyReference.cache
/Nikko.SistGestionPedido.UI/obj/Debug/net6.0/Nikko.SistGestionPedido.UI.assets.cache
/Nikko.SistGestionPedido.UI/obj/Debug/net6.0/apphost.exe
/Nikko.SistGestionPedido.UI/appsettings.json
/.vs/slnx.sqlite
/Nikko.SistGestionPedido.UI/obj/Release/net6.0/Nikko.SistGestionPedido.UI.GeneratedMSBuildEditorConfig.editorconfig
/Nikko.SistGestionPedido.UI/obj/Release/net6.0/Nikko.SistGestionPedido.UI.csproj.AssemblyReference.cache
/Nikko.SistGestionPedido.UI/obj/Release/net6.0/Nikko.SistGestionPedido.UI.assets.cache
/Nikko.SistGestionPedido.UI/obj/project.nuget.cache
/Nikko.SistGestionPedido.UI/obj/project.assets.json
/Nikko.SistGestionPedido.UI/obj/Nikko.SistGestionPedido.UI.csproj.nuget.g.props
/Nikko.SistGestionPedido.UI/obj/Nikko.SistGestionPedido.UI.csproj.nuget.dgspec.json
/Nikko.SistGestionPedido.DAL/bin/Debug/net6.0/Nikko.SistGestionPedido.Models.pdb
/Nikko.SistGestionPedido.DAL/bin/Debug/net6.0/Nikko.SistGestionPedido.Models.dll
/Nikko.SistGestionPedido.DAL/bin/Debug/net6.0/Nikko.SistGestionPedido.DAL.pdb
/Nikko.SistGestionPedido.DAL/bin/Debug/net6.0/Nikko.SistGestionPedido.DAL.dll
/Nikko.SistGestionPedido.Logic/bin/Debug/net6.0/Nikko.SistGestionPedido.Models.pdb
/Nikko.SistGestionPedido.Logic/bin/Debug/net6.0/Nikko.SistGestionPedido.Models.dll
/Nikko.SistGestionPedido.Logic/bin/Debug/net6.0/Nikko.SistGestionPedido.Logic.pdb
/Nikko.SistGestionPedido.Logic/bin/Debug/net6.0/Nikko.SistGestionPedido.Logic.dll
/Nikko.SistGestionPedido.Logic/bin/Debug/net6.0/Nikko.SistGestionPedido.DAL.pdb
/Nikko.SistGestionPedido.Logic/bin/Debug/net6.0/Nikko.SistGestionPedido.DAL.dll
/Nikko.SistGestionPedido.DAL/obj/Debug/net6.0/Nikko.SistGestionPedido.DAL.pdb
/Nikko.SistGestionPedido.DAL/obj/Debug/net6.0/Nikko.SistGestionPedido.DAL.genruntimeconfig.cache
/Nikko.SistGestionPedido.DAL/obj/Debug/net6.0/Nikko.SistGestionPedido.DAL.GeneratedMSBuildEditorConfig.editorconfig
/Nikko.SistGestionPedido.DAL/obj/Debug/net6.0/Nikko.SistGestionPedido.DAL.dll
/Nikko.SistGestionPedido.DAL/obj/Debug/net6.0/Nikko.SistGestionPedido.DAL.csproj.CoreCompileInputs.cache
/Nikko.SistGestionPedido.DAL/obj/Debug/net6.0/Nikko.SistGestionPedido.DAL.csproj.AssemblyReference.cache
/Nikko.SistGestionPedido.DAL/obj/Debug/net6.0/Nikko.SistGestionPedido.DAL.assets.cache
/Nikko.SistGestionPedido.DAL/obj/project.nuget.cache
/Nikko.SistGestionPedido.DAL/obj/project.assets.json
/Nikko.SistGestionPedido.DAL/obj/Nikko.SistGestionPedido.DAL.csproj.nuget.g.props
/Nikko.SistGestionPedido.DAL/obj/Nikko.SistGestionPedido.DAL.csproj.nuget.dgspec.json
/Nikko.SistGestionPedido.Logic/obj/Debug/net6.0/Nikko.SistGestionPedido.Logic.pdb
/Nikko.SistGestionPedido.Logic/obj/Debug/net6.0/Nikko.SistGestionPedido.Logic.GeneratedMSBuildEditorConfig.editorconfig
/Nikko.SistGestionPedido.Logic/obj/Debug/net6.0/Nikko.SistGestionPedido.Logic.dll
/Nikko.SistGestionPedido.Logic/obj/Debug/net6.0/Nikko.SistGestionPedido.Logic.csproj.CoreCompileInputs.cache
/Nikko.SistGestionPedido.Logic/obj/Debug/net6.0/Nikko.SistGestionPedido.Logic.csproj.AssemblyReference.cache
/Nikko.SistGestionPedido.Logic/obj/Debug/net6.0/Nikko.SistGestionPedido.Logic.assets.cache
/Nikko.SistGestionPedido.Logic/obj/Debug/net6.0/Nikko.SistGestionPedido.Logic.AssemblyInfo.cs
/Nikko.SistGestionPedido.Logic/obj/Release/net6.0/Nikko.SistGestionPedido.Logic.GeneratedMSBuildEditorConfig.editorconfig
/Nikko.SistGestionPedido.Logic/obj/Release/net6.0/Nikko.SistGestionPedido.Logic.csproj.AssemblyReference.cache
/Nikko.SistGestionPedido.Logic/obj/Release/net6.0/Nikko.SistGestionPedido.Logic.assets.cache
/Nikko.SistGestionPedido.Logic/obj/project.nuget.cache
/Nikko.SistGestionPedido.Logic/obj/project.assets.json
/Nikko.SistGestionPedido.Logic/obj/Nikko.SistGestionPedido.Logic.csproj.nuget.g.props
/Nikko.SistGestionPedido.Logic/obj/Nikko.SistGestionPedido.Logic.csproj.nuget.dgspec.json
