@model Nikko.SistGestionPedido.UI.Models.ViewModels.ClienteViewModel
@{
    ViewData["Title"] = "Home Page";
}


<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>
    <h4>Detalle de Cliente</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Details">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Nombre" class="control-label"></label>
                    <input asp-for="Nombre" class="form-control" />
                    <span asp-validation-for="Nombre" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Fecha" class="control-label"></label>
                    <input asp-for="Fecha" class="form-control" />
                    <span asp-validation-for="Fecha" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Telefono" class="control-label"></label>
                    <input asp-for="Telefono" class="form-control" />
                    <span asp-validation-for="Telefono" class="text-danger"></span>
                </div>
                
            </form>
        </div>
    </div>
    <div class="form-group">
        @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
        <a asp-action="Index">Regresar a la Lista</a>
    </div>
</body>
</html>


